@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat','Roboto', sans-serif, 'Helvetica Neue';
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.bg-gradient{
  background: transparent linear-gradient(117deg, #D8CFFC 0%, #AE7BFF 35%, #74B7F2 100%) 0% 0% no-repeat padding-box;
}


@media(max-width: 500px){
  li:after{
    content: none !important;
  }
}